apiVersion: v1
kind: ConfigMap
metadata:
  name: file-storage-configmap
  namespace: "{{ NAMESPACE }}"
  labels:
    app: file-storage
data:
  LOGGER_LOG_LEVEL: "{{ FILESTORAGE_LOG_LEVEL }}"
  METRICS_COLLECT_DEFAULT: "{{ FILESTORAGE_METRICS_COLLECT_DEFAULT }}"
  FILES_STORAGE_USE_STREAM_TO_ANTIVIRUS: "true"
  ANTIVIRUS_SERVICE_HOSTNAME: "clamav-svc"
  ANTIVIRUS_SERVICE_PORT: "3310"
  AUTHORIZATION_API_HOST: "{{ AUTHORIZATION_API_HOST }}"
