apiVersion: v1
kind: ConfigMap
metadata:
  name: file-storage-configmap
  namespace: "{{ NAMESPACE }}"
  labels:
    app: file-storage
data:
  ANTIVIRUS_SERVICE_HOSTNAME: "{{ ANTIVIRUS_SERVICE_HOSTNAME }}"
  ANTIVIRUS_SERVICE_PORT: "{{ ANTIVIRUS_SERVICE_PORT }}"
  AUTHORIZATION_API_URL: "{{ AUTHORIZATION_API_URL }}"
  ENABLE_FILE_SECURITY_CHECK: "true"
  FILE_STORAGE_SERVICE_URL: "{{ FILE_STORAGE_SERVICE_URL }}"
  FILES_STORAGE_USE_STREAM_TO_ANTIVIRUS: "true"
  LOGGER_LOG_LEVEL: "{{ FILESTORAGE_LOG_LEVEL }}"
  METRICS_COLLECT_DEFAULT: "{{ FILESTORAGE_METRICS_COLLECT_DEFAULT }}"
  JWT_PUBLIC_KEY: "{{ JWT_PUBLIC_KEY }}"
  JWT_DOMAIN: "{{ DOMAIN }}"
  PREVIEW_PRODUCER_INCOMING_REQUEST_TIMEOUT: "600000"
  CORE_INCOMING_REQUEST_TIMEOUT_MS: "600000"
  INCOMING_REQUEST_TIMEOUT_COPY_API_MS: "600000"
  WOPI_URL: "https://{{ DOMAIN }}/api/v3/wopi/files"
  COLLABORA_ONLINE_URL: "http://collabora-online:9980"
  FEATURE_COLUMN_BOARD_COLLABORA_ENABLED: "true"
