apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: file-storage-secret{{ EXTERNAL_SECRETS_POSTFIX }}
  namespace: {{ NAMESPACE }}
  labels:
    app: file-storage
spec:
  itemPath: "vaults/{{ ONEPASSWORD_OPERATOR_VAULT }}/items/api-files"
