apiVersion: v1
kind: Service
metadata:
  name: file-storage-svc
  namespace: {{ NAMESPACE }}
  labels:
    app: file-storage
spec:
  type: ClusterIP
  ports:
    - port: 4444
      targetPort: 4444
      protocol: TCP
      name: filestorage-http
  selector:
    app: file-storage
