apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: filestorage-server-secret{{ EXTERNAL_SECRETS_POSTFIX }}
  namespace: {{ NAMESPACE }}
  labels:
    app: filestorage-server
spec:
  itemPath: "vaults/{{ ONEPASSWORD_OPERATOR_VAULT }}/items/filestorage-server"
