apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: filestorage-server-pod-monitor
  namespace: {{ NAMESPACE }}
  labels:
    app: filestorage-server
spec:
  selector:
    matchLabels:
      app: filestorage-server
  podMetricsEndpoints:
  - port: metrics
